.head-1{
    color: #0d6efd
}
label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
}

input.error, textarea.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}
input.valid.success-alert {
    border: 2px solid #4CAF50;
    color: green;
    }